@import "../base.css";

.header {
	background: url("../../images/header.svg") no-repeat;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 130px;
	text-align: center;
	color: var(--color-background);
}

.header h5 {
	margin-top: 24px;
}

.header nav {
	margin-top: 50px;
}

.header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.header nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 160px;
	height: 40px;
}

.header nav li a {
	background-color: var(--color-background);
	color: var(--color-text);
	width: 100%;
	padding: 12px 0;
	text-decoration: none;
	font-size: 14px;
	border-radius: 4px;
	border: 0.5px solid var(--color-primary);
}

.header nav li a:hover {
	color: #000000;
	text-shadow: 1px 1px 5px #a7a7a7;
}
