@import "../base.css";

.header {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
    background-color: var(--color-primary);
    padding-top: 70px;
    padding-bottom: 130px;
    text-align: center;
    color: var(--color-background);
}

.header h5 {
    margin-top: 24px;
}

.header nav {
    margin-top: 50px;
}

.header nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header nav li a {
    background-color: var(--color-background);
    padding: 12px 24px;
    text-decoration: none;
    color: var(--color-text);
    border-radius: 4px;
    font-size: 14px;
}

.header nav li a:hover {
    color: #000000;
    text-shadow: 1px 1px 5px #a7a7a7;
}

