@import '../base.css';

@media screen and (max-width:670px){

    .header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 80%;
        margin: 0 auto;
        gap: 15px;
    }

    .header nav ul li {
        width: 100%;
    }

    .contact .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact .text {
        width: 100%;
    }

    .contact .form {
        width: 100%;
    }
}
