@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 12px;

	--color-background: #ffffff;
	--color-primary: #967474;
	--color-text: #575757;
	--color-secondary: #ac6767;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--color-text);
	color: var(--color-text);
	border-radius: 4px;
}

button:hover {
	color: #000000;
}

.container {
	width: 80%;
	max-width: 930px;
	margin: 0 auto;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.15rem;
	font-weight: 300;
}

.title-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-section .divisor {
	width: 50%;
	height: 2px;
	background-color: var(--color-text);
}

.title-section h2 {
	text-align: center;
	white-space: nowrap;
}
